---
import App from "../components/App";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Your Page Title">
  <link
    rel="stylesheet"
    href="src/components/SpeedTypingGame/SpeedTyping.css"
  />

  <div class="typing-container" style="display: flex; justify-content: center; align-items: center; margin: 50px auto;">
    <App client:load />
  </div>
</BaseLayout>
